* {
    transition: 0.5s ease-in-out all;
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #f0f0f0;
}

.container {
    background: #5adb5a;
    height: 350px;
    width: 50%;
    margin-left: 25%;
    margin-top: 300px;
    border-radius: 50px;
}

.penukar {
    height: 60px;
    width: 100%;
    background: #504c50;
    border-radius: 50px 50px 0px 0px;
}

.pengubahTampilan {
    width: calc(50% - 2px);
    text-align: center;
    height: 50px;
}

.pengubahTampilan.active {
    background: #00f0ff;
}

.tampilKiri {
    background: #ffffff;
    border-top-left-radius: 50px;
    float: left;
    border-right: 2px #ff0000 solid;
}

.tampilKiri>h2 {
    color: black;
}


/* .tampilKiri:hover {
    background: black;
} */

.tampilKiri:hover>h2 {
    color: white;
}

.tampilKanan {
    background: black;
    float: right;
    border-top-right-radius: 50px;
    border-left: #ff0000 2px solid;
}

.tampilKanan>h2 {
    color: white;
}


/* .tampilKanan:hover {
    background: white;
} */

.tampilKanan:hover>h2 {
    color: #000000;
}

h2.tulisanPenukar {
    margin-top: 10px;
}