* {
    transition: 0.4s all;
    padding: 0;
    margin: 0;
}

input:invalid {
    border-bottom: 2px red solid !important;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #829eeb;
}

.container {
    height: 350px;
    background: #f0f0f0;
    width: 50%;
    margin-left: 25%;
    margin-top: 300px;
    border-radius: 50px;
}

.penukar {
    height: 50px;
    width: 100%;
    background: #5adb5a;
    border-radius: 50px 50px 0px 0px;
}

.pengubahTampilan {
    width: calc(50% - 2px);
    text-align: center;
    height: 50px;
}

.pengubahTampilan.active {
    background: #3bb13b
}

.pengubahTampilan.active>h2:hover {
    color: #000;
}

.tampilKiri {
    /* background: #ffffff; */
    border-top-left-radius: 50px;
    float: left;
    border-right: 2px #ff0000 solid;
}

.tampilKiri>h2 {
    color: black;
}


/* .tampilKiri:hover {
    background: black;
} */

.tampilKiri:hover>h2 {
    color: white;
}

.tampilKanan {
    /* background: black; */
    float: right;
    border-top-right-radius: 50px;
    border-left: #ff0000 2px solid;
}

.tampilKanan>h2 {
    color: white;
}


/* .tampilKanan:hover {
    background: white;
} */

.tampilKanan:hover>h2 {
    color: #000000;
}

h2.tulisanPenukar {
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 60px);
    padding: 10px;
    background: transparent;
    border: 0;
    border-bottom: 2px #929292 solid;
    margin: 0 10px;
}

.loginBox.firstBox {
    margin-top: 75px;
}

.loginBox {
    width: 95%;
    margin: 0 2.5%;
}

form {
    position: relative;
}

label {
    position: relative;
    left: 15px;
    top: 25px;
}

label.active {
    left: 0;
    top: 0;
}