/* tag's */

* {
    transition: 0.4s all;
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #829eeb;
    overflow: hidden;
}

h2.tulisanPenukar {
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 60px);
    padding: 10px;
    background: transparent;
    border: 0;
    /* border-bottom: 2px #929292 solid; */
    margin: 0 10px;
}

form {
    position: relative;
}

label {
    position: relative;
    left: 15px;
    top: 25px;
    font-family: palatino;
    font-size: 17px;
}

input:invalid {
    border: 0;
    /* border-bottom: 2px red solid !important; */
    box-shadow: none;
}


/* input:invalid input:focus {
    border: 0;
} */

label.active {
    left: 10px;
    top: 0;
    font-size: 15px;
    color: #6545f7;
}

input[type="submit"] {
    width: 25%;
    height: 40px;
    margin-left: calc(75%/2);
    margin-top: 30px;
    background: #5adb5a;
    border: 0;
    border-radius: 20px;
}


/* Classes */

.container {
    height: max-content;
    background: #f0f0f0;
    width: 50%;
    margin-left: 25%;
    margin-top: 250px;
    border-radius: 50px;
    padding-bottom: 25px;
}

.penukar {
    height: 50px;
    width: 100%;
    background: #5adb5a;
    border-radius: 50px 50px 0px 0px;
}

.pengubahTampilan {
    width: calc(50% - 2px);
    text-align: center;
    height: 50px;
}

.pengubahTampilan.active {
    background: #3bb13b
}

.loginBox.firstBox {
    margin-top: 50px;
}

.daftarBox.firstBox {
    margin-top: 40px;
}

.loginBox {
    width: 95%;
    margin: 2.5% 2.5%;
}

.tampilKiri {
    /* background: #ffffff; */
    border-top-left-radius: 50px;
    float: left;
    border-right: 2px #ff0000 solid;
}

.tampilKanan {
    float: right;
    border-top-right-radius: 50px;
    border-left: #ff0000 2px solid;
}

.tampilKiri>h2 {
    color: black;
}

.pengubahTampilan.active>h2:hover {
    color: #000;
}

.tampilKiri:hover>h2 {
    color: white;
}

.tampilKanan>h2 {
    color: white;
}

.tampilKanan:hover>h2 {
    color: #000000;
}

.garisBawah {
    height: 2px;
    width: calc(100% - 60px);
    background: #757575;
    margin: 3px 10px;
    padding: 0 10px;
}

.garisBawah.error {
    background: red;
}

.garisBawah.error.active {
    background: red;
}

.garisBawah.active {
    background: #6545f7;
    animation-name: garis;
    animation-duration: 0.25s;
}

@keyframes garis {
    0% {
        width: 50%;
        margin: 3px 25%;
    }
    100% {
        width: calc(100% - 60px);
        margin: 3px 10px;
    }
}

.formInput.nonActive {
    display: none;
}

.formInput.active {
    display: inline;
}