/* Global */

* {
    margin: 0;
    padding: 0;
}


/* Tags */

body {
    margin: 0;
    padding: 0;
    height: 10000px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #7561be;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 5px;
}

li {
    margin: 5px;
    padding: 10px;
    color: white;
    font-weight: 400;
}

h2 {
    font-weight: 500;
}


/* Classes */

.navbarLists {
    border-bottom: 1px #928b8b solid;
}

.navbar {
    background-color: #65df65;
}

.navbar.navbarKiri {
    position: relative;
    float: left;
    display: block;
    width: 20%;
    height: 100vh;
    border-right: 2px #928b8b solid;
    border-bottom: 2px #928b8b solid;
}

.navbar .fa.fa-arrow-right,
.navbar .fa.fa-arrow-left {
    font-size: 25px;
}

.arrow:hover {
    color: white;
    transition: 500ms all;
}


/* Test */

.navbar.navbarAtas {
    position: fixed;
    width: 100%;
    top: 0;
    float: left;
    margin-left: 0%;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas div {
    position: relative;
    float: left;
    display: block;
    margin-top: 5px;
    padding: 15px;
    margin-right: 150px;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas .showLeftBar {
    margin-right: 15px;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas .showLeftBar:hover {
    cursor: pointer;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas .home {
    margin-right: 200px;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas .olimName {
    margin-left: 150px;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas .searchBar {
    margin-left: 150px;
    margin-right: 100px;
    padding: 10px;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas .searchBar input {
    padding: 3px;
    margin-top: 6px;
    background-color: #8cc58c;
    border: 0;
    border-radius: 20px;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas .accountSettings {
    background-color: #7561be;
    height: 10px;
    width: 10px;
    margin-top: 10px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 20px;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas.showed {
    position: fixed;
    top: 0;
    width: 80%;
    float: left;
    margin-left: 20%;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas.showed div {
    position: relative;
    float: left;
    display: block;
    margin-top: 5px;
    padding: 15px;
    margin-right: 150px;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas.showed .showLeftBar {
    margin-right: 5px;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas.showed .showLeftBar:hover {
    cursor: pointer;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas.showed .home {
    margin-right: 150px;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas.showed .olimName {
    margin-left: 100px;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas.showed .searchBar {
    margin-left: 50px;
    margin-right: 50px;
    transition-duration: 500ms;
    transition-property: all;
}

.navbar.navbarAtas.showed .accountSettings {
    background-color: #7561be;
    height: 10px;
    width: 10px;
    margin-top: 10px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 20px;
    transition-duration: 500ms;
    transition-property: all;
}