/* Global */

* {
    margin: 0;
    padding: 0;
}


/* Tags */

body {
    margin: 0;
    padding: 0;
    height: 10000px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #7561be;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 5px;
}

li {
    margin: 5px;
    padding: 10px;
    color: white;
    font-weight: 400;
}

h2 {
    font-weight: 500;
}


/* Classes */

.navbarLists {
    border-bottom: 1px #928b8b solid;
}

.navbar {
    background-color: #65df65;
}

.navbar.navbarKiri {
    position: relative;
    float: left;
    display: block;
    width: 20%;
    height: 100vh;
    border-right: 2px #928b8b solid;
    border-bottom: 2px #928b8b solid;
}

.navbar .fa.fa-arrow-right,
.navbar .fa.fa-arrow-left {
    font-size: 25px;
}

.navbar.navbarAtas {
    position: fixed;
    top: 0;
    width: 80%;
    float: left;
    margin-left: 20%;
}

.navbar.navbarAtas div {
    position: relative;
    float: left;
    display: block;
    margin-top: 5px;
    padding: 15px;
    margin-right: 150px;
}

.navbar.navbarAtas .showLeftBar {
    margin-right: 10px;
}

.navbar.navbarAtas .home {
    margin-right: 200px;
}

.navbar.navbarAtas .olimName {
    margin-left: 100px;
}

.navbar.navbarAtas .searchBar {
    margin-left: 200px;
    margin-right: 0px;
}

.navbar.navbarAtas .accountSettings {
    background-color: #7561be;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 145px;
}